<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register!</h1>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <form action="#" th:action="@{/registerHandle}" th:object="${formData}" method="post">
        Name: <input type="text" id="name" th:field="*{name}" /> <br />
        Email:<input type="email" id="email" th:field="*{email}" /><br/>
        password:<input type="password" id="password" th:field="*{password}"><br>
        Confirmate password: <input type="password" th:field="*{confirmate}" id="confirmate"><br>
            <button type="submit">login</button>
    </form>
    
</body>
</html>